$fisrtcolor     :   #F4F4F4;
$secondcolor    :   #89CEFD;
$thirdcolor     :   #316099;
$fourhtcolor    :   #3B577B;    
$fifhtcolor     :   #606060;          

// Tamaño de fuente
$xxl    :   24px;
$xl     :   20px;
$l      :   16px;
$m      :   12px;
$s      :   10px;

// Dimensiones
.container  {
    margin :   0 auto;
    max-width: 1080px;
}

// Fondos
.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: lighter;
}

